/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


.v-button {
  background-color: #4b006e;
  padding: 3px;
  color: white;
  border-radius: 5px;
}

.v-button:hover {
  background-color: #e2b8ffff;
  box-shadow: -1px -1px 26px -18px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: -1px -1px 26px -18px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: -1px -1px 26px -18px rgba(0,0,0,0.75) inset;
}

.nav-elements {
  background-color: #4b006e;
  padding: 1px;
  color: white;
  border-radius: 2px;
}

.base-button {
  padding: 10px;
  color: white;
  border-radius: 5px; 
}

.success-button {
  background-color: #006e0f;
}

.danger-button {
  background-color: #d71c1c;
}
