<h4 class="text-center v-font">Welcome back! Sign in to your VaiLocal account.</h4>

<form action="/user_verify_credentials" method="post" class="text-center v-font">
  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password">
  </div>

  <button class = "v-button">
    Sign in
  </button>
</form>

<hr>

<p class="text-center v-font">
  Or, <a href="/">Sign up</a> instead.
</p>
